@font-face {
  font-family: "Compose";
  src: url("./Compose-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-ThinObl.woff2") format("woff2");
  font-weight: 100;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-ExtraLightObl.woff2") format("woff2");
  font-weight: 200;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-LightObl.woff2") format("woff2");
  font-weight: 300;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-RegularObl.woff2") format("woff2");
  font-weight: 400;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-MediumObl.woff2") format("woff2");
  font-weight: 500;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-SemiBoldObl.woff2") format("woff2");
  font-weight: 600;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-BoldObl.woff2") format("woff2");
  font-weight: 700;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-ExtraBoldObl.woff2") format("woff2");
  font-weight: 800;
  font-style: oblique;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Compose";
  src: url("./Compose-BlackObl.woff2") format("woff2");
  font-weight: 900;
  font-style: oblique;
  font-display: swap;
}
